/* Home Section Styling */

.home {
    display: flex;
    background: url('../img/newbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--blanco);
    min-height: 500px;
    font-family: var(--secondaryFont);
    .max-width {
        margin: auto 0 auto 40px;
    }
}

.home-content {
    .text-1 {
        font-size: 27px;
    }
    .text-2 {
        font-size: 75px;
        font-weight: 600;
        margin-left: -3px;
    }
    .text-3 {
        font-size: 40px;
        margin: 5px 0;
        span {
            color: var(--primaryColor);
            font-weight: 500;
        }
    }
    a {
        display: inline-block;
        background-color: var(--primaryColor);
        color: var(--blanco);
        font-size: 25px;
        padding: 12px 36px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid var(--primaryColor);
        transition: all .3s ease;
        &:hover {
            color: var(--primaryColor);
            background: none;
        }
    }
}
