/* Projects Section Styling */

.projects {
    .title::after {
        content: 'what i did';
    }
    .carousel .card {
        background-color: #222;
        border-radius: 6px;
        padding: 25px 35px;
        transition: all .3s ease;
        min-height: 34rem;
        position: relative;
        &:hover {
            transform: scale(0.95);
        }
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .text {
            font-size: 20px;
            font-weight: 500;
            margin: 10px 0 7px 0;
        }
        img {
            height: 150px;
            width: 250px;
            object-fit: cover;
            border-radius: 6px;
            border: 5px solid var(--secondaryColor);
        }
    }
}

.projects .carousel .card img {
    margin-top: .5rem;
    margin-bottom: 3rem;
    padding: 5px;
    color: var(--blanco);
    background-color: var(--secondaryColor);
    border-radius: 6px;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--primaryColor)!important;
    transition: all .3 ease;
    &.active {
        width: 35px;
        border-radius: 14px;
    }
    &.active,
    &:hover {
        background-color: var(--primaryColor)!important;
    }
}
